@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <h1 class="display-4">Hello There!</h1>
        <p>Lets Start!! <a href="https://docs.microsoft.com/aspnet/core">Hope this makes sense!</a>.</p>
        <p>Find a random <a href="/Media/RandomMovie">Movie</a></p>
        <p>Find a random <a href="/Media/RandomSong">Song</a></p>
        <p>Find a random <a href="/Media/RandomText">Word</a></p>
        <p>Find a random <a href="/Media/RandomJSON">JSON</a></p>
    </div>
